@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep nb-layout-column {
    justify-content: center;
    display: flex;
  }

  nb-chat {
    margin: 3rem auto 0;
    width: 500px;

  }

  .chat-container {
    margin-bottom: 2rem;

    li {
      padding-top: 1rem;
    }
  }

  .chart-description {
    text-align: center;
    margin: 0 auto;
    width: 52%;
  }

  .chart-features {
    margin-top: 2.75rem;
  }

  @include media-breakpoint-down(xxl) {
    nb-chat {
      width: 400px;
    }
  }

  @include media-breakpoint-down(md) {
    nb-chat {
      width: 400px;
    }

    .chart-description {
      width: 90%;
    }
  }

  @include media-breakpoint-down(is) {
    nb-chat {
      width: 300px;
    }
  }
}

.heatmap-canvas {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 500px;
}

::ng-deep .message {
  max-width: 100%;
  overflow-x: auto;
}

::ng-deep nb-chat-message:not([ng-reflect-type='schema']) .nb-custom-message-not-reply {
  background: #db2c66 !important;
  color: white;
}

::ng-deep nb-chat-message[ng-reflect-type='schema'] .nb-custom-message-not-reply {
  background: white !important;
  padding: 1rem !important;
}

::ng-deep nb-chat-message[ng-reflect-type='warning'] .nb-custom-message-not-reply {
  background: var(--warning) !important;
  color: white;
  padding: 1rem !important;
}

::ng-deep .front-container, ::ng-deep .back-container {
  max-width: 70vw;
  overflow-x: auto;
}

::ng-deep .front-container nb-card {
  width: fit-content !important;
}

::ng-deep .selectedJump tbody tr {
  cursor: pointer !important;
  border: 2px dashed #00d68f;
  cursor: pointer;
}


::ng-deep .back-container nb-card {
  margin: 0;
}

nb-card.chart, .chart nb-card-body {
  width: fit-content;
  height: auto;
}

::ng-deep .embeded {
  iframe {
    width: 550px;
  }
  nb-card.chart, .chart nb-card-body {
    width: 100% !important;
    text-align: center;
    height: auto;
  }
  /*nb-chat-message,*/
  nb-chat-avatar,
  .sender  {
    display: none !important;
  }

  nb-chat {
    max-height: 36rem;
    height: auto;
  }

  .message {
    margin: 0 !important;
  }

  nb-chat-message-text {
    align-items: center !important;
  }

  .scrollable {
    height: fit-content;
    flex: unset !important;
  }

  nb-chat-message.not-reply:last-of-type,
  nb-chat-message.reply + nb-chat-message.not-reply[ng-reflect-type="chart"] {
    display: block !important;
  }

  nb-chat-message.not-reply nb-chat-message-text .text {
    border-top-left-radius: 0.5rem !important;
  }

  .form {
    display: block;
  }

  nb-chat {
    width: auto;
    max-height: unset;
    height: auto;
    box-shadow: none !important;
  }
}

/*::ng-deep .embeded.selected {
  .form {
    display: block;
  }
}*/

::ng-deep .nb-theme-default ng2-smart-table table tr td {
  padding: 0.5rem !important;
}

nb-chat {
  width: auto;
  height: 75vh;
}

iframe {
  border: none;
  width: 550px;
  height: 400px;
}

small {
  font-size: 60%;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  opacity: 0.5

}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.6
}

::ng-deep nb-chat {
  height: 75vh;
}

::ng-deep nb-chat .header {
  display: none;
}


::ng-deep .no-messages {
  opacity: .4;
  font-weight: bold !important;
}
