<div class="row" *ngIf="!pEmbedded">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <nb-select class="col-12 col-md-6 col-lg-3" [(selected)]="db">
            <nb-option value="{{db.id}}" *ngFor="let db of dbs">{{db.name}}</nb-option>
          </nb-select>
          <button nbButton hero class="col-12 col-md-6 col-lg-2" (click)="changeDb()" [disabled]="!db" status="{{ schema?.tables?.length ? 'success' : 'basic'}}">
            {{ schema?.tables?.length ? 'Connected' :'Connect' }}
          </button>
          <button nbButton *ngIf="schema" hero class="col-12 col-md-6 col-lg-2 ml-2" (click)="save()">
            Save
          </button>
          <button nbButton *ngIf="schema && saved" hero class="col-12 col-md-6 col-lg-2 ml-2" (click)="train()">
            Train
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card *ngIf="!pEmbedded">
  <nb-card-body>
    <div class="container-fluid">
      <div class="row flex-row flex-nowrap">
        <div class="col-auto" *ngIf="!completeDB">
          <button class="btn" [class.btn-primary]="letter === l" *ngFor="let l of letters" (click)="load(l)">
            {{ l }}
          </button>
        </div>
        <button nbButton hero class="col-auto" (click)="changeView()" [disabled]="!db" status="{{ completeDB ? 'success' : 'basic'}}">
          Entire DB
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="row">
  <div [class.col-12]="pEmbedded" [class.col-8]="!pEmbedded">

    <div class="row" *ngIf="narration">
      <div class="col-12 badge badge-primary m-1"><p class="text-white" style="text-align: left;" [innerHTML]="narration"></p></div>
    </div>
    <app-db *ngIf="schema" (tableSelected)="tableSelected($event)" [schema]="schema" [embedded]="pEmbedded"></app-db>
    <h1 class="text-center text-dark" *ngIf="!schema">
      <i class="fa fa-search"></i> <br>
      Select a schema and a letter
    </h1>
  </div>
  <div class="col-4" *ngIf="!pEmbedded">
    <nb-card>
      <nb-card-header>
        Table schema
      </nb-card-header>
      <nb-card-body>
        <h5>{{ table?.name || 'No table selected'}}</h5>
        <input
          *ngIf="table"
          type="text"
          nbInput
          fullWidth
          shape="semi-round"
          placeholder="Public name"
          [(ngModel)]="table.fullname"
          (ngModelChange)="table.edited = true"
          class="input-full-width size-medium status-basic shape-rectangle nb-transition mb-1">
        <div class="row mb-2" *ngIf="table">
          <div class="col-12">
            <input
              type="text"
              nbInput
              fullWidth
              shape="semi-round"
              placeholder="Describe it in 3 or 4 words"
              [(ngModel)]="table.description"
              (ngModelChange)="table.edited = true"
              class="input-full-width size-medium status-basic shape-rectangle nb-transition">
          </div>
        </div>
        <div class="row m-2 justify-content-end">
          <button nbButton hero class="col-auto" (click)="showAll = !showAll" [disabled]="!db" status="{{ showAll ? 'success' : 'basic'}}">
            Show all
          </button>
        </div>
        <table class="w-100" *ngIf="table">
          <thead class="bg-light">
            <tr class="p-2">
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let column of table.columns">
              <tr class="p-2" *ngIf="showAllTruely || column.description" [class.font-weight-bold]="column.pk">
                <td>{{column.name}}</td>
                <td>{{column.type}}</td>
                <td><input type="text" class="form-control" [(ngModel)]="column.description" (ngModelChange)="table.edited = true"></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
