<div class="row" [nbSpinner]="loading">
  <div class="col-12 p-0">
    <nb-card>
      <nb-card-body>
        <div class="row align-items-center justify-content-between">
          <nb-select class="col-12 col-md-6 col-lg-3" [(selected)]="db">
            <nb-option value="{{db.id}}" *ngFor="let db of dbs; let idx = index" [selected]="idx === 0">{{db.name}}</nb-option>
          </nb-select>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="db" [nbSpinner]="loading">
  <input
    type="text"
    nbInput
    fullWidth
    shape="semi-round"
    placeholder="Edit this dashboard"
    [(ngModel)]="prompt"
    (keyup.enter)="submit()"
    class="input-full-width size-medium status-basic shape-rectangle nb-transition col mb-1">
    <div class="col-auto p-2">
      <button class="p-1 btn bg-white" (click)="pptx()">
        <img src="assets/images/icons8-fantasy.gif" style="width: 1.5rem">
      </button>
    </div>
</div>
<div class="row" *ngIf="error">
  <nb-alert class="col-12 text-center" [status]="'danger'">{{error}}</nb-alert>
</div>
<div class="row" *ngIf="warning">
  <nb-alert class="col-12" [status]="'info'">
    <div class="row align-items-center">
    <span class="col">{{warning}}</span><div class="col-auto">
      <button class="btn btn-success mr-2" (click)="yes()">Yes</button>
      <button class="btn btn-danger" (click)="no()">No</button>
    </div>
  </div>
</nb-alert>
</div>

<div class="row" [nbSpinner]="loading">
  <div class="col-{{col.class}}" *ngFor="let col of structure" (click)="select(col)">
    <nb-card [class.selected]="col.selected">
      <nb-card-header>
        <div class="row align-items-center">
          <input
            [(ngModel)]="col.title"
            nbInput
            fullWidth
            [class.face]="col.face"
            placeholder="Type a meaningful name"
            class="input-full-width size-medium status-basic shape-rectangle nb-transition mb-1 col-12">
        </div>
      </nb-card-header>
      <nb-card-body>
        <app-chat
          [embeded]="true"
          [reloadHistory]="false"
          [db]="db"
          [lastPrompt]="col.prompt"
          (newQuery)="col.query = $event"
          [selected]="col.selected">
        </app-chat>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #schema>
  <nb-card style="width: 80vw; height: 80vh;">
    <nb-card-header>Schema?</nb-card-header>
    <nb-card-body>
      <app-designer
        [embedded]="true"
        [db]="db"
        [completeDb]="true"></app-designer>
    </nb-card-body>
  </nb-card>
</ng-template>
